@charset "UTF-8";

.wrap{
	width: 1200px;
	height : 430px;
	background-image: url("img/game_background.jpg");
	background-size: 100%;
	margin: 0 auto;
	position: relative;
	padding: 0 15px;
}

.charBox{
	position: absolute;
	width : 120px;
	height: 160px;
	background-image: url("img/char.png");
	background-size: 120px 160px;
	background-repeat: no-repeat;
	bottom : 30px;
	left : 0px;
	
}