@charset "UTF-8";

/* -------------------------- 공통 부문 ----------------------------- */
*{ padding: 0px; margin: 0px; font-size: 12px; }
/* a 기본값 제거 */
a{ color: black; text-decoration: none; }
/* 글머리 */
li{ list-style-type: none; }
/* 웹폰트 */
/* ------------------------- 상단 메뉴 ----------------------------- */
/* li 가로 배치하는 방법 1 */
/* .top_menu li { display: inline-block; } */
/* li 가로 배치하는 방법 2 */
.top_menu{ 
	display: flex; 	/* 하위 요소 배치 방법 */
	justify-content: flex-end; /* 하위 요소들 가로 정렬 */
	align-items : center; /* 하위 요소들 세로 정렬 */
	border-bottom: 1px solid #dbdbdb; /* 아래 테두리 */
	padding:  10px; /* 안쪽여백 */
	font-size: 10px; /* 부모요소에 폰트적용시 하위요소 적용 */
	margin-right: 20px;
}
.line{ padding: 0px 10px; }  /* | 사이 여백 */
.top_menu_icon{ width: 20px; vertical-align: middle;  } /* 이미지 크기변경 , 세로 정렬  */ 
/* -------------------------- 메인메뉴 ------------------------------ */
/* 메뉴 와 검색창이 포함된 구역 */
.main_menu{
	display: flex;
	justify-content: space-between; /* 양끝 정렬 */
	align-items: center;
	padding: 0px 50px 0px 30px;
	position: sticky; /* 스크롤 내릴경우 고정 */
	/* sticky 사용조건:
		1. 상위 부모의 사이즈 안에서 고정 vs fixed[디바이스 화면에 절대고정]
		2. top right left bottom 1개 이상 필수
		3. 부모요소 overflow 속성 사용금지
		
	 */
	top: 0px;
	z-index: 1; /* 우선순위  */
	background-color: white;
	opacity: 0.5;/* 투명도 1:100% 0.5:50% */
}
/* 메뉴 */
.main_menu ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold; /* 글꼴 진하게 */
	padding: 30px;
	width: 65%;	/* 가로 사이즈 */
}
/* 커서(포커스) 활설화 되었을때 테두리 */
*:focus{ outline: none; } 
/* input 과 이미지 구역 */
.searchbox{ border-bottom: 1px solid black;}
/* 검색창 돋보기 이미지 */
.searchbox img{ height: 15px;}
/* 검색 input */
.searchbox input{  border: none; padding: 5px; }
.new{ color: red; }
.logo{ width: 150px; }

#main_img{
	width: 100%;
}
#main_img img{
	border: none;
}




	

.drop_menu{
	position: relative;
}
	
.drop_menu .sub_menu{
	position: absolute;
	display: none;
	width: 120px;
	background-color: white;
	padding: 10px 0px;
	text-align: center;
	left: -44px; top: 15px; 
	line-height: 200%;
	/* 드랍 메뉴 요소 기준으로 왼쪽 40px 아래로 15px 이동  */
}	

.drop_menu:hover .sub_menu{
	display: block;
	
}	


/*---------------------------------본문  */

#content{
	width: 1600px;
	margin: 0 auto;
	padding: 50px 0px;
	
}
#content .title{
	font-size: 17px;
	text-align: center;
	font-weight: bold;
	
}
#content .comment{
	font-size: 12px;
	text-align: center;
	color: #999999;
	padding: 20px;
	
}


/* -------------- 제품 1개 ------------- */

.item{
	width: 380px;
	margin: 30px 0px;
}
.item img{
	width: 100%;
}

.color span{ 
/* span 요소의 display:inline = w,h(사이즈) 적용 불가 */
	display: inline-block;
	width: 10px; height: 10px;
	border: solid 1px #dbdbdb;
	
}

.color_review{
	display: flex;
	justify-content: space-between;
	
}

.review{
	font-size: 12px;
	color: gray;
	
	
}
.color{
	margin-bottom: 10px;
	
}

.item p{
	line-height: 200%;
	color: deepgray;
	
}
.item_proce{
	margin: 10px;
	
	
}
.item_icon img{
	width: 45px;
	
}
.item_price{
	position: relative;
}

.item_price .discount{
	position: absolute;
	right: 0px; top: 0px;
	font-size: 14px; color: red;
	font-weight: bold;
}

.price{
	text-decoration: line-through;
	
}

.disc_price{
	margin-bottom: 5px;
	
}

.items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	
}

#footer{
	width: 100%;
	background-color: #F7F7F7;
	
}

.footer_top{
	width: 1600px;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
}

.f_t1{
	width: 380px;
	margin: 50px;
}

.f_t1 h3{
	font-size: 16px;
	margin-bottom: 20px;
	font-weight: 900;
}

.f_t1 h1{
	font-size: 25px;
	margin-bottom: 20px;
}

.f_t1 p{
	font-size: 15px;
	font-weight: bold;
}
.f_t1 span{
	padding: 20px 0px;
	font-size: 15px;
	font-weight: bold;
}

.f_t1 li{
	line-height: 250%;
	font-weight: bold;
	
	
}

.f3{
	font-weight: 300;
	
}

.footer_bottom p{
	text-align: center;
	color: gray;
	margin: 30px;
}

/* ------팝업 구역----- */

#popup_wrap{
	position: fixed;
	right: 0px;
	top: 30%;
}


#popup_wrap li{ /* 아이콘 구역 */
	width: 25px;
	height: 25px;
	background:	#f7f7f7;
	padding: 8px;
	border: solid 1px #dbdbdb;
	text-align: center;
}

#popup_wrap img{
	height: 25px;
	
}

.popup_item{
	position: relative;
}

.popup_item .sub_item{
	position: absolute;
	display: none;
	width: 80px; height: 23px;
	background-color: black;
	color: white;
	right: 42px; top: 0px;
	padding: 10px;
	border-radius: 10px;
}

.popup_item:hover .sub_item{ 
/* 팝업 아이콘에 마우스를 올렸을 때*/
	display: block;
	
}
