@charset "UTF-8";

*{ margin: 0; padding: 0;
font-family: "맑은 고딕"
}

#webpage{
	width: 1200px;
	margin: 0 auto;
		
}

#header{
	width: 800px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	
}



a{
	color: black;
	text-decoration: none;
	
}

.h_left span{
	color : #145FC1;
}

.h_right li{
	display: inline-block;
	margin: 15px;
	font-weight: bold;
	align-items: center;
	font-size: 12px;
}

.h_right a:hover , .h_left:hover{
	background-color: lightgray;
}

.m_top{
	display: flex;
	width: 1200px;
	height: 200px;
	background-image: url("img/sub_reservation.jpg");
	background-size: 1200px 250px;
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	margin-bottom: 50px;
}

.m_top h4 , .m_top h6{
	font-weight: 300;
	line-height: 150%;
	
}

.m_middle{
	display: flex;
	width: 800px;
	margin: 0 auto;
	

}

.main{
	display: flex;
	width: 800px;
	margin: 0 auto;
	margin-bottom: 50px;

	
}

.table{
	width : 550px;
	height: 500px;
	background-color: #FCF9EA;
	
}

.date{
	font-size: 10px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}

.year{
	text-align: center;
	
}
.arrow{
	font-size: 13px;
	
}

.r1 h3{
	margin: 15px;
	margin-left : 20px;
	margin-bottom: 10px;
	border-left: solid 5px #434343;
	padding-left: 10px;

	
}

.s_text{
	font-size: 8px;
	margin-left: 25px;
	list-style-type: none;
	line-height: 200%;
	
	
}

.green_text{
	font-size: 10px;
	margin-left: 25px;
	color: #007700;
	margin-top: 10px;
	font-weight: bold;
	width: 80%;
	
}

#footer{
	background-color: #292C32;
	width: 100%;
	display: flex;

	
}
.f_content{
	width: 800px;
	margin: 0 auto;
	color: white;
	display: flex;
	height : 100px;
	justify-content: space-between;
	padding: 40px;
	
	
}
.tel{
	font-size: 13px;

}

.tel p{
	font-size: 20px;
	line-height: 180%;
	
}
.copy1 li{
	list-style-type: none;
	display: inline-block;
	font-size: 11px;
}

.k1{
	color: white;
	
}

.copy2{
	margin-top: 10px;
	font-size: 10px;
}

.month_table{
	width : 90%;
	height: 70%;
	margin: 0 auto;

	
}

.week{
	width: 67px;
	height: 10px;
	border: solid 2px black;
	text-align: center;
	padding: 2px;
	
	
	
}

.month_data{
	 border-spacing: 0;
	 font-size: 10px;
	border-collapse: collapse;
	margin-top: 10px;
	background-color: white;
	
	
}

.sun{
	color: red;
}

.date_data{
	height: 65px;
	width: 67px;
	border: solid 2px black;
	padding: 2px;
	vertical-align: top;
	
	
	
	
}
