@charset "UTF-8";

#wrap{
	width: 1200px;
	margin: 0 auto;
	
}

#header{
	background-color: skyblue;
	height: 200px;
	
}

#content{
	background-color: orange;
	height: 600px;
	display: flex;
	
}

#left_menu{
	width: 600px;
	background-color: gray;
	
}

#right_menu{
	width: 600px;
	background-color: purple;
	
}

#footer{
	background-color: black;
	height: 200px;
	
}